/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Your code starts here! */
.container {
	width: 1024px;
	height: 1536px;
	margin: 0px;
}

/* Navigation */
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

a {
	margin-top: 40px;
	text-decoration: none;
	color: lightgrey;
	font-size: 14px;
}


img {
	margin-top: 25px;
	margin-right: 32px;
}

/* Header */

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.header-text h1 {
	margin-top: 130px;
	margin-left: 150px;
	font-size: 78px;
	text-align: center;
	line-height: 0.95;
	letter-spacing: 3px;
}

.header-text button {
	margin-left: 225px;
	margin-top: 10px;
	font-size: 17px;
	color: grey;
	width: 174px;
	height: 33px;
}

.header-img {

}

.header-img img {

}


/* Handles Features and About Section */

.top-content {

}

.section-top-a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.section-top-b {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.top-content h3 {

}

.top-content p {

}

/* Handles Middle Img */

.middle-img {

}

/* Handles Services, Product, and Vision section */

.section-bot-a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.section-bot-b {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.bottom-content h3 {

}

.bottom-content p {

}

/* Black line above top section and below bottom section */

hr.line1 {

}

/* Contact and Address section */

.contact h3 {

}

.add-loc {

}

.add-num {

}

.add-email {

}

/* Footer Copyright */

footer p {

}
