/* Container Div */

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
  font-weight: 600;
}

/* Header */

header {
  display: flex;
}

header nav {
  display: flex;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  margin-right: 66px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

/* Services */

.services {
  border-bottom: 1px solid black;
}

.services h1 {
  font-size: 30px;
}

/* Content */

section .column {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

section .row-top {
  display: flex;
  flex-direction: row;
}

section .row-middle {
  display: flex;
  flex-direction: row;
}

section .row-bottom {
  display: flex;
  flex-direction: row;
}

/* Info */

section .text-info li {
  margin-bottom: 15px;
  margin-left: 25px;
  padding-left: 4px;
  list-style-type: square;
  font-weight: 600;
  line-height: .95;
}

section .text-info {
  display: flex;
  flex-direction: column;
}

.info {
  border-top: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
}

/* Footer */
footer {
  margin: 51px 10px;
  text-align: center;
  font-size: 14px;
}
